@import '@common/styles/style';

.home {
  height: 720px;
  background-image: url('./../../images/home.png');
  background-size: 100% 100%;
  padding-top: 56px;
  &__container{
    padding: 8px;
    border: 1px solid;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

@include mobile-up {
  .home {
    height: 640px;
    padding-top: 112px;
    &__container {
      padding: 24px 0;
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;
      flex-direction: row-reverse;
      justify-content: space-around;
    }
  }
}