@import '@common/styles/style';

.image__container {
  height: 280px;
  width: 200px;
  background-image: url('../../../images/megha.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@include mobile-up {
  .image__container {
    height: 360px;
    width: 280px;
  }
}